<%= _.template(require('./html-includes/header.html').default)() %>
<header class="header" data-animation="fadeIn">
  <div class="flex max-sm:hidden">
    <div class="lg:text-xl">г. Геленджик, Стартовая, 1</div>
  </div>
  <div class="header-logo">
    <img src="img/logo.png" alt="" class="max-sm:w-16 max-lg:w-24">
  </div>
  <div class="flex flex-grow">
    <div class="ml-auto">
      <a href="tel:+7 (928) 203-42-00" class="btn btn-black btn-text text-sm lg:text-xl font-semibold">+7 (928) 203-42-00</a>
      <button class="btn btn-primary btn-text font-alt font-semibold uppercase btn-text-border max-lg:text-sm" data-scroll="#calc">задать вопрос</button>
    </div>
  </div>
</header>

<section class="section-padding notfound">

  <div class="notfound-title">
    <img src="img/404.svg" alt="">
  </div>
  <div class="notfound-subtitle mt-8 sm:mt-12">Возможно, запрашиваемая вами страница была перенесена или удалена</div>
  <div class="notfound-btn">
    <a href="/" class="btn btn-theme-fill mt-8 sm:mt-12 rounded font-alt uppercase">на главную</a>
  </div>

</section>

<%= _.template(require('./html-includes/footer.html').default)() %>